.nav-container{
    width: 100%;
    background-color: #1C2833;
}

.nav-menu{
    display: flex;
    width: 100%;
}

.nav-menu-item{
    list-style: none;
}

.nav-menu-item span{
   color:#cec3c4;
   font-size: .8em;
}

.nav-btn{
    border: none;
    min-width: 70px;
    height: 34px;
    border-radius: 5px;
    background-color: #1C2833;
    color: #cec3c4;
    margin: 0px 5px;
}

.nav-btn:hover{
    background-color: #2C3E50 ;
}

.nav-btn-right{
    margin-left: auto;
}

