.admin-container{
    width: 100%;
    border-radius: 5px;
    background-color: #F8F9F9;
    padding: 5px;
    min-height: 200px;
}

.admin-list-user{
    margin-top: 20px;
}

.admin-list-user-item{
    list-style: none;
    padding: 5px;
    border: solid 1px #95A5A6;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-list-user-item:last-child{
    border-bottom: solid 1px #95A5A6;;
}

.admin-spam{
    font-weight: 700;
}

.admin-list-buttons{
    margin-top: 20px;
}

.admin-btn{
    min-width: 100px;
    padding: 5px 10px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 0 5px ;
}

.admin-btn:hover{
    opacity: .7;
}

.admin-btn-admin{
    background-color:#E74C3C;
    color: #FFF;
}

.admin-btn-autor{
    background-color:#BB8FCE;
    color: #FFF;
}

.admin-btn-guest{
    background-color:#5499C7 ;
    color: #FFF;
}

@media screen and (min-width: 700px){
    .admin-list-user-item{
        flex-direction: row;
    }
    .admin-list-buttons{
        margin-top: 0;
        margin-left: auto;
    }
}